.pr-navbar {
  position: relative;
  z-index: 101;
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    transition: 0.2s;
    &.navbar--sticky {
      background: var(--black);
    }
  }

}