
.pr-bg-section {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: static;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background: var(--black);
    z-index: -1;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 130%;
    background: var(--grey7);
    z-index: -1;
  }
}

.pr-bg-banner-section {
  padding-top: 100px;
  width: 100%;
  height: auto;
  //position: static;
  background-repeat: no-repeat;
  background-position: 110px 30px;
}

.pr-section {
  display: flex;
  padding-top: 100px;
  width: 100%;
  height: auto;
  //position: static;
}

.pr-section__box {
  width: 100%;
  height: auto;
  padding: 10px;
}