
.pr-bg-section {
  width: 100%;
  height: auto;
  z-index: 100;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background: var(--black);
    z-index: -1;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: var(--grey7);
    z-index: -1;
  }
}

.pr-bg-section.section--reverse {
  &::before {
    width: 30%;
  }
  &::after {
    width: 70%;
  }
}

// black-to-grey
.pr-bg-section.section--b-to-g {
  &:before {
    background: var(--black);
  }
  &:after {
    background: var(--grey7);
  }
}
// grey-to-black
.pr-bg-section.section--g-to-b {
  &:before {
    background: var(--grey7);
  }
  &:after {
    background: var(--black);
  }
}

.pr-bg-banner-section {
  padding-top: 100px;
  width: 100%;
  height: auto;
  //position: static;
  background-repeat: no-repeat;
  //background-position: 110px 30px;

  &.banner-section--left {
    background-position: 0 0;
  }
  &.banner-section--right {
    background-position: 100% 0;
  }
}

.pr-section {
  display: flex;
  padding-top: 100px;
  width: 100%;
  height: auto;
  //position: static;
}

.pr-section__box {
  width: 100%;
  height: auto;
  padding: 10px;
  &.box--image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}