h1.pr-title--big {
  font-size: 40px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;

  strong {
    color: $clCian;
    font-family: 'Montserrat-Bold', serif;
    font-size: 64px;
    font-weight: 900;
  }
}

.pr-strong--block {
  strong {
    display: block;
  }
}