<section class="pr-bg-banner-section banner-section--left mb-5" style="background-image: url('/static/assets/images/bg_contact-me.png')">
    <div class="pr-container">
        <div class="pr-section__box text-center">
            <pr-title-standard content="Ponte en contacto"></pr-title-standard>
            <pr-paragraph-big content="Preguntas, nuevos <br> proyectos o <br> asesorías"></pr-paragraph-big>
            <div class="p-5 text-center">
                <pr-button-link class="p-2" path="https://www.linkedin.com/in/richard-rivas-196366a2/" target="_blank">
                    <span slot="link-icon"><i class="icon-linkedin fs-3"></i></span>
                </pr-button-link>
                <pr-button-link class="p-2" path="https://api.whatsapp.com/send?phone=573008915853" target="_blank">
                    <span slot="link-icon"><i class="icon-whatsapp fs-3"></i></span>
                </pr-button-link>
                <pr-button-link class="p-2" path="mailto:rrivas@usaly.co">
                    <span slot="link-icon"><i class="icon-mail fs-4"></i></span>
                </pr-button-link>
            </div>
        </div>
    </div>
</section>