<section class="pr-bg-banner-section" style="background-image: url('/static/assets/images/bg_knowleadge.svg')">
    <div class="pr-container">
        <div class="pr-section__box">
            <pr-title-standard content="Conceptos generales"></pr-title-standard>
            <div class="row">
                <div class="col-3">
                    <pr-feature-item title="> Control de versiones" subtitle="Manejo de <strong>GIT</strong>"></pr-feature-item>
                </div>
                <div class="col-3">
                    <pr-feature-item title="> Procesadores CSS" subtitle="<strong>Saas, Stylus & Less</strong>"></pr-feature-item>
                </div>
                <div class="col-3">
                    <pr-feature-item title="> Metodología de nomenclatura" subtitle="<strong>CSS con BEM</strong>"></pr-feature-item>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <pr-feature-item title="> Package Manager" subtitle="Gestor de paquetes <strong>NPM</strong>"></pr-feature-item>
                </div>
                <div class="col-3">
                    <pr-feature-item title="> Empaquetado" subtitle="<strong>Webpack</strong>"></pr-feature-item>
                </div>
            </div>
        </div>
    </div>
</section>