<section class="pr-bg-section section--reverse my-5 py-5">
    <div class="pr-container">
        <div class="pr-section__box box--image mt-2">
            <img src="/static/assets/images/pc_code.jpg" alt="">
        </div>
        <div class="pr-section__box" style="/*background: red*/">
            <div class="p-3">
                <pr-paragraph-standard content="<h1>> Desarrollo Backend</h1> <p class='m-0'>Elaboración de aplicaciones web en PHP con Laravel y desarrollo de APIs en NodeJS.</p>"></pr-paragraph-standard>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <pr-feature-list title="> Frameworks:" items="{{itemFrameworksBack}}"></pr-feature-list>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <pr-feature-list title="> Bases de datos:" items="{{itemFrameworksDB}}"></pr-feature-list>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <pr-feature-list title="> CMS:" items="{{itemCms}}"></pr-feature-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>