<section class="pr-bg-section section--g-to-b my-5 py-5">
    <div class="pr-container">
        <div class="pr-section__box" style="/*background: red*/">
            <pr-title-big content="<strong>Conocimientos</strong>"></pr-title-big>
            <pr-paragraph-standard content="<h1>> Desarrollo Frontend</h1> <p class='m-0'>Codificación de interfaces web desde la maquetación de mockups hasta la implementación de funcionalidades complejas con JavaScript.</p>"></pr-paragraph-standard>
            <pr-feature-list title="> Frameworks y librerías:" items="{{itemFrameworks}}"></pr-feature-list>
        </div>
        <div class="pr-section__box box--image mt-2">
            <img src="/static/assets/images/pc_code.jpg" alt="">
        </div>
    </div>
</section>