<div class="pr-navbar--fixed">
    <div class="pr-container">
        <div class="pr-navbar__box-logo">
            <pr-image src="/static/assets/images/logo_mini.png"></pr-image>
        </div>
        <pr-horizontal-menu menuitems="{{menuItems}}"></pr-horizontal-menu>
    </div>
</div>
