<section class="pr-bg-banner-section banner-section--left h-md-100 my-3" style="background-image: url('/static/assets/images/bg_projects.png')" id="section-projects">
    <div class="pr-container">
        <div class="pr-section__box">
            <div class="p-3">
                <pr-title-standard content="Proyectos" color="cian"></pr-title-standard>
                <pr-box-picture-info imageSrc="/static/assets/images/code.jpg"
                                     contentTitle="Wordpractices"
                                     contentSubTitle="Proyecto"
                                     contentText="Proyecto desarrollado en el framework Angular. El objetivo del proyecto es relacionado a la práctica de vocabulario en inglés y consiste en una vista para asociar un número de 5 palabras a sus definiciones. <br> > <a class='pr-link' href='https://wordspractice.usaly.co/'>wordspractice.usaly.co</a>"></pr-box-picture-info>
                <pr-box-picture-info imageSrc="/static/assets/images/bg_devops.jpg"
                                     contentTitle="Docker en Jenkins"
                                     contentSubTitle="Proyecto"
                                     dir="txt-img"
                                     contentText="Configuración de Jenkins en un contenedor de Docker, permitiendo la ejecución de nuevos contenedores por medio de Jenkins conectándose al demonio de Docker."></pr-box-picture-info>
            </div>
        </div>
    </div>
</section>