<section class="pr-bg-banner-section banner-section--left h-100 my-3" style="background-image: url('/static/assets/images/bg_projects.png')">
    <div class="pr-container">
        <div class="pr-section__box">
            <pr-title-standard content="Proyectos" color="cian"></pr-title-standard>
            <pr-box-picture-info imageSrc="/static/assets/images/code.jpg"
                                 contentTitle="Wordpractices"
                                 contentSubTitle="Proyecto"
                                 contentText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "></pr-box-picture-info>
            <pr-box-picture-info imageSrc="/static/assets/images/bg_devops.jpg"
                                 contentTitle="Docker en Jenkins"
                                 contentSubTitle="Proyecto"
                                 dir="txt-img"
                                 contentText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "></pr-box-picture-info>
        </div>
    </div>
</section>