<section class="pr-bg-banner-section" style="background-image: url('/static/assets/images/bg_projects.svg')">
    <div class="pr-container">
        <div class="pr-section__box">
            <pr-title-standard content="Proyectos"></pr-title-standard>
        </div>
        <div class="pr-section__box">
        </div>
    </div>
</section>