<section class="pr-bg-banner-section banner-section--right mb-5" style="background-image: url('/static/assets/images/self-learning.png')">
    <div class="pr-container">
        <div class="pr-section__box">
            <pr-title-standard content="Autoaprendizaje" color="cian"></pr-title-standard>
            <div class="row">
                <div class="col-4">
                    <pr-feature-item title="> DevOps con Docker, Kubernetes y Jenkins." subtitle="Implementación <strong>Empírica</strong>"></pr-feature-item>
                </div>
                <div class="col-4">
                    <pr-feature-item title="> Apache & Nginx" subtitle="Administración de <strong>DNS & Web servers:</strong>"></pr-feature-item>
                </div>
                <div class="col-4">
                    <pr-feature-item title="> Gitlab CI & Jenkins" subtitle="Desarrollo <strong>continuo</strong>"></pr-feature-item>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <pr-feature-item title="> Linux & CentOS" subtitle="Administración de <strong>Servidores</strong>"></pr-feature-item>
                </div>
                <div class="col-4">
                    <pr-feature-item title="> Docker & Kubernetes" subtitle="Orquestación y contenedores:"></pr-feature-item>
                </div>
                <div class="col-4">
                    <pr-feature-item title="> Digitalocean, Heroku & Dreamhost" subtitle="Cloud <strong>providers:</strong>"></pr-feature-item>
                </div>
            </div>
        </div>
    </div>
</section>