<section class="pr-bg-section pr-pt-top-100px h-100">
    <div class="pr-container">
        <div class="pr-section__box">
            <pr-title-big content="Hola, <strong>Soy Richard</strong> Freelance web & UI Developer"></pr-title-big>
            <div class="d-flex align-items-center">
                <pr-button-standard content="Descargar CV"></pr-button-standard>
                <pr-button-standard content="Contacto"></pr-button-standard>
            </div>
            <pr-paragraph-standard content="Cuento con 6 años de experiencia trabajando con Javascript y 4 años enfocado en Angular. He complementado mi conocimiento con:  jQuery, Vanilla, BackboneJS, y VueJS. <br> Estoy certificado en Scrum Máster y fui nombrado como Kanban Ambassador."></pr-paragraph-standard>
        </div>
        <div class="pr-section__box">
        </div>
    </div>
</section>