<div class="pr-navbar__box-logo">
    {{> ../../../templates/logos/logo-brand-mini.hbs url="static/assets/images/logo_mini.svg" alt="logo"}}
</div>
<div class="pr-navbar__box-menu">
    <ul class="pr-navbar__box-menu--horizontal"></ul>
</div>